<div id="navbar"
     data-animation="default"
     data-collapse="medium"
     data-duration="400"
     data-easing="ease"
     data-easing2="ease"
     role="banner"
     class="navbar w-nav">
    <nav class="container">
        <div class="navbar-wrapper">
            <a href="/home-landing-page" class="navbar-logo-wrapper w-nav-brand">
                <img src="images/logo.webp"
                     loading="lazy"
                     width="70"
                     alt=""
                     class="main-logo" />
            </a>
            <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                <ul role="list" class="nav-menu w-list-unstyled">
                    <li class="nav-list">
                        <div data-hover="false"
                             data-delay="0"
                             data-w-id="e85a5d7e-5163-418e-9498-0708a0f73cf2"
                             class="w-dropdown">
                            <div class="nav-dropdown w-dropdown-toggle">
                                <div class="nav-icon w-icon-dropdown-toggle"></div>
                                <div class="nav-link">Home Pages</div>
                            </div>
                            <nav class="dropdown-options w-dropdown-list">
                                <a href="/"
                                   aria-current="page"
                                   class="submenu-link w-dropdown-link w--current">Home - Multi page</a><a href="/home-landing-page"
                                                                                                           class="submenu-link w-dropdown-link">Home - Landing Page</a>
                            </nav>
                        </div>
                    </li>
                    <li class="nav-list">
                        <a href="@Url.Action("Index", "Home")>About</a>
                        
                    </li>
                    <li class="nav-list">
                        <a href="/our-team" class="nav-link">Our Team</a>
                    </li>
                    <li class="nav-list">
                        <a href="/pricing" class="nav-link">Pricing</a>
                    </li>
                    <li class="nav-list">
                        <div data-hover="false"
                             data-delay="0"
                             data-w-id="23ee6b8d-6ec1-ecf2-40d6-2fd026e4637f"
                             class="w-dropdown">
                            <div class="nav-dropdown w-dropdown-toggle">
                                <div class="nav-icon w-icon-dropdown-toggle"></div>
                                <div class="nav-link">Blogs</div>
                            </div>
                            <nav class="dropdown-options w-dropdown-list">
                                <a href="/blog-pages/blogs-grid"
                                   class="submenu-link w-dropdown-link">Blogs Grid</a><a href="/blog-pages/blogs-left-sidebar"
                                                                                         class="submenu-link w-dropdown-link">Blogs Grid Left Sidebar</a><a href="/blog-pages/blogs-right-sidebar"
                                                                                                                                                            class="submenu-link w-dropdown-link">Blogs Grid Right Sidebar</a><a href="/blog-pages/blogs-list-left-sidebar"
                                                                                                                                                                                                                                class="submenu-link w-dropdown-link">Blogs List Left Sidebar</a><a href="/blog-pages/blogs-list-right-sidebar"
                                                                                                                                                                                                                                                                                                   class="submenu-link w-dropdown-link">Blogs List Right Sidebar</a><a href="/blog-pages/blogs-column-left-sidebar"
                                                                                                                                                                                                                                                                                                                                                                       class="submenu-link w-dropdown-link">Blogs Column Left Sidebar</a><a href="/blog-pages/blogs-column-right-sidebar"
                                                                                                                                                                                                                                                                                                                                                                                                                                            class="submenu-link w-dropdown-link">Blogs Column Right Sidebar</a>
                                <div class="w-dyn-list">
                                    <div role="list" class="w-dyn-items">
                                        <div role="listitem" class="w-dyn-item">
                                            <a href="/post/decentralized-finance-and-its-impact-on-traditional-banking"
                                               class="submenu-link w-dropdown-link">Blogs Details</a>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </li>
                    <li class="nav-list"><a href="/faq" class="nav-link">FAQ</a></li>
                    <li class="nav-button-list">
                        <a data-w-id="a2b9a5b4-7c90-53af-3c21-cf3e88a88e16"
                           href="/contact"
                           class="primary-button contact-us-button w-inline-block">
                            <div class="hover-text"></div>
                            <div class="default-text">Contact Us</div>
                            <div class="button-hover-color"></div>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="hamburger-and-close-icon-wrapper">
                    <div class="hamburger-icon w-icon-nav-menu"></div>
                    <div class="cross-icon"></div>
                </div>
            </div>
        </div>
    </nav>
</div>