
    <div
      id="navbar"
      data-animation="default"
      data-collapse="medium"
      data-duration="400"
      data-easing="ease"
      data-easing2="ease"
      role="banner"
      class="navbar w-nav"
    >
      <nav class="container">
        <div class="navbar-wrapper">
          <a href="/home-landing-page" class="navbar-logo-wrapper w-nav-brand"
            ><img
              src="images/logo.webp"
              loading="lazy"
              width="70"
              alt=""
              class="main-logo"
          /></a>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu w-list-unstyled">
              <li class="nav-list">
                <div
                  data-hover="false"
                  data-delay="0"
                  data-w-id="e85a5d7e-5163-418e-9498-0708a0f73cf2"
                  class="w-dropdown"
                >
                  <div class="nav-dropdown w-dropdown-toggle">
                    <div class="nav-icon w-icon-dropdown-toggle"></div>
                    <div class="nav-link">Home Pages</div>
                  </div>
                  <nav class="dropdown-options w-dropdown-list">
                    <a href="/" class="submenu-link w-dropdown-link"
                      >Home - Multi page</a
                    ><a
                      href="/home-landing-page"
                      class="submenu-link w-dropdown-link"
                      >Home - Landing Page</a
                    >
                  </nav>
                </div>
              </li>
              <li class="nav-list">
                <a href="/about-us" class="nav-link">About</a>
              </li>
              <li class="nav-list">
                <a href="/our-team" class="nav-link">Our Team</a>
              </li>
              <li class="nav-list">
                <a href="/pricing" class="nav-link">Pricing</a>
              </li>
              <li class="nav-list">
                <div
                  data-hover="false"
                  data-delay="0"
                  data-w-id="23ee6b8d-6ec1-ecf2-40d6-2fd026e4637f"
                  class="w-dropdown"
                >
                  <div class="nav-dropdown w-dropdown-toggle">
                    <div class="nav-icon w-icon-dropdown-toggle"></div>
                    <div class="nav-link">Blogs</div>
                  </div>
                  <nav class="dropdown-options w-dropdown-list">
                    <a
                      href="/blog-pages/blogs-grid"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid</a
                    ><a
                      href="/blog-pages/blogs-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid Right Sidebar</a
                    ><a
                      href="/blog-pages/blogs-list-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs List Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-list-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs List Right Sidebar</a
                    ><a
                      href="/blog-pages/blogs-column-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Column Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-column-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Column Right Sidebar</a
                    >
                    <div class="w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a
                            href="/post/decentralized-finance-and-its-impact-on-traditional-banking"
                            class="submenu-link w-dropdown-link"
                            >Blogs Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </li>
              <li class="nav-list"><a href="/faq" class="nav-link">FAQ</a></li>
              <li class="nav-button-list">
                <a
                  data-w-id="a2b9a5b4-7c90-53af-3c21-cf3e88a88e16"
                  href="/contact"
                  aria-current="page"
                  class="primary-button contact-us-button w-inline-block w--current"
                  ><div class="hover-text"></div>
                  <div class="default-text">Contact Us</div>
                  <div class="button-hover-color"></div
                ></a>
              </li>
            </ul>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="hamburger-and-close-icon-wrapper">
              <div class="hamburger-icon w-icon-nav-menu"></div>
              <div class="cross-icon"></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <section class="secondary-section">
      <div class="container">
        <div class="middle-allign-wrapper">
          <div class="section-title-wrapper">
            <h1 class="section-heading">Get in Touch with TNC Crypto</h1>
            <p class="section-paragraph">
              Reach out to us for any inquiries, feedback, or assistance. We’re
              here to help you navigate the world of cryptocurrency.
            </p>
          </div>
          <div class="w-layout-grid contact-grid">
            <div
              id="w-node-_24f6272c-2d3a-7114-d5f0-0567d1bafcc6-c8dc5020"
              data-w-id="24f6272c-2d3a-7114-d5f0-0567d1bafcc6"
              style="
                opacity: 0;
                -webkit-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="contact-information-wrapper"
            >
              <div class="contact-information-heading">
                Let’s Start Working Together. Get in Touch with Us!
              </div>
              <p class="section-paragraph">
                Let’s Collaborate for a Brighter Crypto Future Whether you have
                questions about our services or need support with your account,
                our dedicated team is ready to assist.
              </p>
              <div class="information-wrapper extra-margin-top">
                <div class="information-block">
                  <div class="footer-icon"></div>
                  <div class="information-text">
                    4XX7 Washington Ave. Manchester, Kentucky 39X95.
                  </div>
                </div>
                <div class="information-block">
                  <div class="footer-icon"></div>
                  <div class="information-text">(406) 5XX-012X</div>
                </div>
                <div class="information-block">
                  <div class="footer-icon"></div>
                  <div class="information-text">supportX@tnccrypto.com</div>
                </div>
              </div>
            </div>
            <div
              data-w-id="6267d562-a154-00da-41fd-57588d7d7460"
              style="
                opacity: 0;
                -webkit-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="contact-form-block w-form"
            >
              <div class="form-text-block">
                <h3 class="form-title">Get In Touch</h3>
                <p>
                  Share your details and message, and our team will get back to
                  you promptly.
                </p>
              </div>
              <div class="blur-background"></div>
              <form
                id="email-form"
                name="email-form"
                data-name="Email Form"
                method="get"
                class="contact-form"
                data-wf-page-id="65124c375c6de822c8dc5020"
                data-wf-element-id="6267d562-a154-00da-41fd-57588d7d7466"
              >
                <div class="field-block">
                  <div class="form-field">
                    <label for="Name">Name</label
                    ><input
                      class="input w-input"
                      maxlength="256"
                      name="Name"
                      data-name="Name"
                      placeholder=""
                      type="text"
                      id="Name"
                      required=""
                    />
                  </div>
                  <div class="form-field">
                    <label for="Email">Email</label
                    ><input
                      class="input w-input"
                      maxlength="256"
                      name="Email"
                      data-name="Email"
                      placeholder=""
                      type="email"
                      id="Email"
                    />
                  </div>
                </div>
                <div class="form-field">
                  <label for="Phone">Contact No</label
                  ><input
                    class="input w-input"
                    maxlength="256"
                    name="Phone"
                    data-name="Phone"
                    placeholder=""
                    type="tel"
                    id="Phone"
                    required=""
                  />
                </div>
                <div class="form-field">
                  <label for="Message">Message</label
                  ><textarea
                    placeholder=""
                    maxlength="5000"
                    id="Message"
                    name="Message"
                    data-name="Message"
                    class="input text-area w-input"
                  ></textarea>
                </div>
                <input
                  type="submit"
                  data-wait="Please wait..."
                  class="submit-button w-button"
                  value="Submit"
                />
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    