
    <div
      id="navbar"
      data-animation="default"
      data-collapse="medium"
      data-duration="400"
      data-easing="ease"
      data-easing2="ease"
      role="banner"
      class="navbar w-nav"
    >
      <nav class="container">
        <div class="navbar-wrapper">
          <a href="/home-landing-page" class="navbar-logo-wrapper w-nav-brand"
            ><img
              src="images/logo.webp"
              loading="lazy"
              width="70"
              alt=""
              class="main-logo"
          /></a>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu w-list-unstyled">
              <li class="nav-list">
                <div
                  data-hover="false"
                  data-delay="0"
                  data-w-id="e85a5d7e-5163-418e-9498-0708a0f73cf2"
                  class="w-dropdown"
                >
                  <div class="nav-dropdown w-dropdown-toggle">
                    <div class="nav-icon w-icon-dropdown-toggle"></div>
                    <div class="nav-link">Home Pages</div>
                  </div>
                  <nav class="dropdown-options w-dropdown-list">
                    <a href="/" class="submenu-link w-dropdown-link"
                      >Home - Multi page</a
                    ><a
                      href="/home-landing-page"
                      class="submenu-link w-dropdown-link"
                      >Home - Landing Page</a
                    >
                  </nav>
                </div>
              </li>
              <li class="nav-list">
                <a href="/about-us" class="nav-link">About</a>
              </li>
              <li class="nav-list">
                <a href="/our-team" class="nav-link">Our Team</a>
              </li>
              <li class="nav-list">
                <a href="/pricing" class="nav-link">Pricing</a>
              </li>
              <li class="nav-list">
                <div
                  data-hover="false"
                  data-delay="0"
                  data-w-id="23ee6b8d-6ec1-ecf2-40d6-2fd026e4637f"
                  class="w-dropdown"
                >
                  <div class="nav-dropdown w-dropdown-toggle">
                    <div class="nav-icon w-icon-dropdown-toggle"></div>
                    <div class="nav-link">Blogs</div>
                  </div>
                  <nav class="dropdown-options w-dropdown-list">
                    <a
                      href="/blog-pages/blogs-grid"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid</a
                    ><a
                      href="/blog-pages/blogs-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid Right Sidebar</a
                    ><a
                      href="/blog-pages/blogs-list-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs List Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-list-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs List Right Sidebar</a
                    ><a
                      href="/blog-pages/blogs-column-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Column Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-column-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Column Right Sidebar</a
                    >
                    <div class="w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a
                            href="/post/decentralized-finance-and-its-impact-on-traditional-banking"
                            class="submenu-link w-dropdown-link"
                            >Blogs Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </li>
              <li class="nav-list">
                <a href="/faq" aria-current="page" class="nav-link w--current"
                  >FAQ</a
                >
              </li>
              <li class="nav-button-list">
                <a
                  data-w-id="a2b9a5b4-7c90-53af-3c21-cf3e88a88e16"
                  href="/contact"
                  class="primary-button contact-us-button w-inline-block"
                  ><div class="hover-text"></div>
                  <div class="default-text">Contact Us</div>
                  <div class="button-hover-color"></div
                ></a>
              </li>
            </ul>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="hamburger-and-close-icon-wrapper">
              <div class="hamburger-icon w-icon-nav-menu"></div>
              <div class="cross-icon"></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <section id="faq" class="secondary-section">
      <div class="container slide-from-bottom">
        <div class="middle-allign-wrapper">
          <div class="section-title-wrapper">
            <h2 class="section-heading">Frequently Asked Questions</h2>
            <p class="section-paragraph">
              Discover quick answers to common queries in our comprehensive
              Frequently Asked Questions section, providing insights into all
              aspects of TNC Crypto.
            </p>
          </div>
          <div class="faq-container">
            <div
              data-w-id="d6182934-4e0f-93ee-d87f-5b9f5947d125"
              style="
                opacity: 0;
                -webkit-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="dropdown-wrapper"
            >
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="d6182934-4e0f-93ee-d87f-5b9f5947d12f"
                class="dropdown-faq-block w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">What is TNC Crypto?</div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    TNC Crypto is a Webflow Template designed for
                    cryptocurrency-related websites. It provides a user-friendly
                    and customizable platform to showcase crypto projects, news,
                    and services.
                  </div>
                </nav>
              </div>
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="b767df74-fa1d-0c9c-799f-2cd603af8efd"
                class="dropdown-faq-block w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">
                      How Do I Install TNC Crypto on My Website?
                    </div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    Installing TNC Crypto is simple. After purchasing the
                    template, you&#x27;ll receive access to the Webflow project
                    file. Upload it to your Webflow account, customize it as
                    needed, and publish it to your domain.
                  </div>
                </nav>
              </div>
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="3558b091-6aa0-fe90-cca5-bc6161ff154e"
                class="dropdown-faq-block w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">
                      Is TNC Crypto Mobile-Responsive?
                    </div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    Yes, TNC Crypto is fully responsive and optimized for mobile
                    devices. It ensures a seamless and visually appealing
                    experience for your website visitors across all screen
                    sizes.
                  </div>
                </nav>
              </div>
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="13dc902c-559f-eda7-db21-6f3d3e0ffc5d"
                class="dropdown-faq-block w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">
                      Can I Customize TNC Crypto to Match My Brand?
                    </div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    Absolutely! TNC Crypto is highly customizable. You can
                    easily modify colors, fonts, images, and content to align
                    with your brand identity and style preferences.
                  </div>
                </nav>
              </div>
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="de4fb845-d9d6-92f5-f652-76302054a709"
                class="dropdown-faq-block w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">
                      Does TNC Crypto Support Integration with Cryptocurrency
                      Data Feeds?
                    </div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    Yes, TNC Crypto allows integration with cryptocurrency data
                    feeds and APIs. You can display real-time price data, market
                    charts, and other crypto-related information on your
                    website.
                  </div>
                </nav>
              </div>
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="b5517328-a6c9-0c12-4a7d-b89c81389b77"
                class="dropdown-faq-block w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">
                      Is TNC Crypto SEO-Friendly?
                    </div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    Yes, TNC Crypto is designed with SEO best practices in mind.
                    You can optimize meta tags, descriptions, and content to
                    improve your website&#x27;s search engine visibility.
                  </div>
                </nav>
              </div>
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="6879c414-1d1b-e229-7f94-b677950ac301"
                class="dropdown-faq-block w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">
                      What Support and Documentation is Provided with TNC
                      Crypto?
                    </div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    Upon purchase, you&#x27;ll receive access to documentation
                    and support resources to help you set up and customize TNC
                    Crypto. Additionally, Webflow&#x27;s customer support can
                    assist with technical inquiries.
                  </div>
                </nav>
              </div>
              <div
                data-hover="false"
                data-delay="0"
                data-w-id="d1a5b4fd-734a-0599-e561-eff5ec30ea3f"
                class="dropdown-faq-block no-bottom-border w-dropdown"
              >
                <div class="faq-swtich w-dropdown-toggle">
                  <div class="icon-and-faq-title">
                    <div class="question-icon"></div>
                    <div class="dropdown-title">
                      Can I Use TNC Crypto for Multiple Websites?
                    </div>
                  </div>
                  <div style="display: none" class="faq-minus-icon"></div>
                  <div class="faq-icon"></div>
                </div>
                <nav style="height: 0px" class="faq-contents w-dropdown-list">
                  <div class="dropdown-texts">
                    TNC Crypto&#x27;s licensing typically covers a single
                    website or domain. If you intend to use it for multiple
                    websites, please review the licensing terms or contact the
                    template provider for clarification.
                  </div>
                </nav>
              </div>
            </div>
            <div
              data-w-id="1548e514-be54-0619-139b-03879094ce9a"
              style="
                opacity: 0;
                -webkit-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="faq-block"
            >
              <img
                src="images/messaging-201.svg"
                loading="lazy"
                width="70"
                alt=""
                class="faq-image"
              />
              <div class="faq-title">You have different Questions?</div>
              <p class="white-paragraph margin-bottom-40px">
                Amet donec risus elementum sollicitudin. Odio dui cum arcu
                vestibulum. Nunc massa adipiscing donec volutpat. Sodales amet
                aenean massa sagittis at viverra ornare.
              </p>
              <a href="/contact" class="secondary-button w-button"
                >Contact With Us</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="blur-background top-left"></div>
    </section>
    