    <div
      id="navbar"
      data-animation="default"
      data-collapse="medium"
      data-duration="400"
      data-easing="ease"
      data-easing2="ease"
      role="banner"
      class="navbar w-nav"
    >
      <nav class="container">
        <div class="navbar-wrapper">
          <a
            href="/home-landing-page"
            aria-current="page"
            class="navbar-logo-wrapper w-nav-brand w--current"
            ><img
              src="images/logo.webp"
              loading="lazy"
              width="70"
              alt=""
              class="main-logo"
          /></a>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu w-list-unstyled">
              <li class="nav-list">
                <div
                  data-hover="false"
                  data-delay="0"
                  data-w-id="9401a690-25ec-61c5-9b36-6e1fa668d3ac"
                  class="w-dropdown"
                >
                  <div class="nav-dropdown w-dropdown-toggle">
                    <div class="nav-icon w-icon-dropdown-toggle"></div>
                    <div class="nav-link">Home Pages</div>
                  </div>
                  <nav
                    style="
                      -webkit-transform: translate3d(0, 30px, 0)
                        scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                        skew(0, 0);
                      -moz-transform: translate3d(0, 30px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 30px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 30px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      opacity: 0;
                      display: none;
                    "
                    class="dropdown-options w-dropdown-list"
                  >
                    <a
                      href="/home-landing-page"
                      aria-current="page"
                      class="submenu-link w-dropdown-link w--current"
                      >Home - Landing Page</a
                    ><a href="/" class="submenu-link w-dropdown-link"
                      >Home - Multi Page</a
                    >
                  </nav>
                </div>
              </li>
              <li class="nav-list">
                <a href="#about" class="nav-link">About</a>
              </li>
              <li class="nav-list">
                <a href="#why-choose" class="nav-link">Why Choose</a>
              </li>
              <li class="nav-list">
                <a href="#services" class="nav-link">Services</a>
              </li>
              <li class="nav-list">
                <a href="#pricing" class="nav-link">Pricing</a>
              </li>
              <li class="nav-list"><a href="#faq" class="nav-link">FAQ</a></li>
              <li class="nav-button-list">
                <a
                  href="#contact"
                  data-w-id="9401a690-25ec-61c5-9b36-6e1fa668d3d8"
                  class="primary-button contact-us-button w-inline-block"
                  ><div
                    style="
                      display: none;
                      -webkit-transform: translate3d(0, -50px, 0)
                        scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                        skew(0, 0);
                      -moz-transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="hover-text"
                  >
                    
                  </div>
                  <div class="default-text">Contact Us</div>
                  <div class="button-hover-color"></div
                ></a>
              </li>
            </ul>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="hamburger-and-close-icon-wrapper">
              <div class="hamburger-icon w-icon-nav-menu"></div>
              <div class="cross-icon"></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="page-wrapper">
      <header
        id="hero"
        data-w-id="6fe5a05f-d560-22ed-006a-6bc7876bf6b5"
        class="hero-section"
      >
        <div class="container">
          <div class="w-layout-grid hero-grid">
            <div
              id="w-node-_6c790274-3bc4-98f7-ec39-1c48d2da8e81-c8dc501e"
              class="content-wrapper"
            >
              <div class="mask-overflow-hidden">
                <h1
                  data-w-id="c0a00b2c-6215-3c56-0f94-44070cda6e01"
                  class="hero-title"
                >
                  Experience the Future of Cryptocurrency Trading
                </h1>
              </div>
              <div class="mask-overflow-hidden">
                <p class="section-paragraph">
                  Dive into a seamless and secure platform designed for both
                  beginners and seasoned traders. Navigate the dynamic world of
                  cryptocurrencies with TNC Crypto.
                </p>
              </div>
              <div class="button-wrapper">
                <a
                  data-w-id="788ad62e-e86f-de48-8c66-07d5218e208f"
                  href="/#pricing"
                  class="primary-button contact-us-button w-inline-block"
                  ><div
                    style="
                      display: none;
                      -webkit-transform: translate3d(0, -50px, 0)
                        scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                        skew(0, 0);
                      -moz-transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="hover-text"
                  >
                    <span class="text-with-logo">See Pricing</span>
                  </div>
                  <div class="default-text">Pricing Table</div>
                  <div class="button-hover-color"></div></a
                ><a
                  data-w-id="6a731ebd-b9ce-ea73-4806-192a67457bf9"
                  href="http://themencode.webflow.io/"
                  target="_blank"
                  class="primary-button primary-border-color w-inline-block"
                  ><div
                    style="
                      display: none;
                      -webkit-transform: translate3d(0, -50px, 0)
                        scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                        skew(0, 0);
                      -moz-transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, -50px, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="hover-text"
                  >
                    
                  </div>
                  <div class="default-text">Download App</div>
                  <div class="button-hover-color secondary-color"></div
                ></a>
              </div>
            </div>
            <div
              id="w-node-c7160305-df1c-5175-a4d4-1124bed0284e-c8dc501e"
              class="image-wrapper"
            >
              <div
                id="w-node-_879065e8-67f9-4b62-4073-4467945141b0-c8dc501e"
                class="mask-overflow-hidden"
              >
                <img
                  class="crypto-image"
                  src="images/on_chain-201.webp"
                  width="70"
                  alt=""
                  sizes="(max-width: 767px) 92vw, (max-width: 991px) 450px, 47vw"
                  data-w-id="46335182-0e05-a11b-bf80-cdec1125c271"
                  id="w-node-_46335182-0e05-a11b-bf80-cdec1125c271-c8dc501e"
                  loading="lazy"
                  srcset="
                    images/on_chain-25201-p-500.png   500w,
                    images/on_chain-25201-p-800.png   800w,
                    images/on_chain-25201-p-1080.png 1080w,
                    images/on_chain-201.webp         1160w
                  "
                />
              </div>
              <div class="blur-background bottom-right"></div>
            </div>
          </div>
        </div>
        <div class="blur-background top-left"></div>
      </header>
      <section class="partners-section">
        <div class="container">
          <div
            data-w-id="f671338d-9467-b5f6-e501-c8ca2ee5d562"
            class="slider-animation-wrapper"
          >
            <div
              style="
                -webkit-transform: translate3d(-20vw, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-20vw, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-20vw, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-20vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="w-layout-grid partners-grid"
            >
              <img
                src="images/logo09.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo10.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo10.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo08.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo06.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo03.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo07.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo05.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo01.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              /><img
                src="images/logo02.webp"
                loading="lazy"
                width="70"
                alt=""
                class="partner-logo"
              />
            </div>
            <div class="rotate-background"></div>
          </div>
        </div>
      </section>
      <section id="about" class="about-section">
        <div class="container">
          <div class="w-layout-grid about-grid">
            <img
              class="crypto-image"
              src="images/image-1.webp"
              width="70"
              alt=""
              style="
                opacity: 0;
                -webkit-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              sizes="(max-width: 767px) 92vw, (max-width: 991px) 450px, 48vw"
              data-w-id="b6fc436d-a74b-f501-493b-833b4f338ba3"
              id="w-node-b6fc436d-a74b-f501-493b-833b4f338ba3-c8dc501e"
              loading="lazy"
              srcset="
                images/image-p-500.png   500w,
                images/image-p-800.png   800w,
                images/image-p-1080.png 1080w,
                images/image-1.webp     1234w
              "
            />
            <div
              id="w-node-_8e1a7674-7134-078d-fabe-d0f247de77d3-c8dc501e"
              data-w-id="8e1a7674-7134-078d-fabe-d0f247de77d3"
              style="
                opacity: 0;
                -webkit-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="content-wrapper"
            >
              <h2 class="section-heading">
                <strong>Discover the Future of Finance with TNC Crypto</strong>
              </h2>
              <p class="section-paragraph extra-margin-top">
                Welcome to TNC Crypto, your trusted partner in the digital
                currency realm. Whether you’re just starting out or are an
                experienced trader, our platform offers a comprehensive suite of
                tools to help you make informed decisions and maximize your
                investments.
              </p>
            </div>
          </div>
          <div class="middle-allign-wrapper extra-margin">
            <h3
              data-w-id="d9e2cc30-dbe8-2f8c-bab4-f19cdfece6b8"
              style="
                opacity: 0;
                -webkit-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(null, 20%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="section-heading"
            >
              <strong>Empowering Your Cryptocurrency Journey</strong>
            </h3>
            <div class="blur-background middle"></div>
            <div
              data-poster-url="images/ebb1-4a54-ad70-1c3c8ebd2d34-poster-00001.jpg"
              data-video-urls="images/ebb1-4a54-ad70-1c3c8ebd2d34-transcode.mp4,images/ebb1-4a54-ad70-1c3c8ebd2d34-transcode.webm"
              data-autoplay="true"
              data-loop="true"
              data-wf-ignore="true"
              class="about-video w-background-video w-background-video-atom"
            >
              <video
                id="7f64dd6b-95f2-c9f6-9bfb-21f335970a3d-video"
                autoplay=""
                loop=""
                style="
                  background-image: url('images/ebb1-4a54-ad70-1c3c8ebd2d34-poster-00001.jpg');
                "
                muted=""
                playsinline=""
                data-wf-ignore="true"
                data-object-fit="cover"
              >
                <source
                  src="images/ebb1-4a54-ad70-1c3c8ebd2d34-transcode.mp4"
                  data-wf-ignore="true"
                />
                <source
                  src="images/ebb1-4a54-ad70-1c3c8ebd2d34-transcode.webm"
                  data-wf-ignore="true"
                />
              </video>
            </div>
          </div>
        </div>
      </section>
      <section id="why-choose" class="white-background">
        <div class="section">
          <div class="container slide-from-bottom">
            <div class="middle-allign-wrapper">
              <div
                data-w-id="d527f9b0-0f95-4a03-cee9-6c398b4aefd4"
                style="opacity: 0"
                class="section-title-wrapper"
              >
                <h2 class="section-heading">Why Choose TNC Crypto</h2>
                <p class="grey-colored-paragraph">
                  Choose TNC Crypto for a secure, innovative, and
                  community-driven cryptocurrency experience.
                </p>
              </div>
              <div class="w-layout-grid three-column-grid">
                <div
                  id="w-node-_4537206b-8c12-00df-7ca2-624e8fe8b816-c8dc501e"
                  data-w-id="4537206b-8c12-00df-7ca2-624e8fe8b816"
                  style="opacity: 0"
                  class="why-choose-us-logo-wrapper"
                >
                  <img
                    src="images/management-201.webp"
                    loading="lazy"
                    width="40"
                    alt=""
                    class="logo-image"
                  />
                  <h3 class="title gap-between-contents">
                    Unmatched Expertise
                  </h3>
                  <p class="grey-colored-paragraph">
                    Our team of crypto experts constantly monitors the market to
                    provide you with the latest insights and trends.
                  </p>
                </div>
                <div
                  id="w-node-_894cfd92-e7a8-0cd5-d458-573856a611ae-c8dc501e"
                  data-w-id="894cfd92-e7a8-0cd5-d458-573856a611ae"
                  style="opacity: 0"
                  class="why-choose-us-logo-wrapper"
                >
                  <img
                    src="images/ui-design-201.webp"
                    loading="lazy"
                    width="40"
                    alt=""
                    class="logo-image"
                  />
                  <h3 class="title gap-between-contents">
                    Intuitive User Interface
                  </h3>
                  <p class="grey-colored-paragraph">
                    Navigate our platform with ease, making your trading
                    experience smooth and efficient.
                  </p>
                </div>
                <div
                  id="w-node-b9b0c6e1-a933-16a1-1455-f2bb16367fde-c8dc501e"
                  data-w-id="b9b0c6e1-a933-16a1-1455-f2bb16367fde"
                  style="opacity: 0"
                  class="why-choose-us-logo-wrapper"
                >
                  <img
                    src="images/bar-chart-201.webp"
                    loading="lazy"
                    width="40"
                    alt=""
                    class="logo-image"
                  />
                  <h3 class="title gap-between-contents">
                    Wide Range of Resources
                  </h3>
                  <p class="grey-colored-paragraph">
                    From Bitcoin to emerging altcoins, access a wide range of
                    digital currencies.
                  </p>
                </div>
                <div
                  id="w-node-_8aba584e-2c5c-c14e-730b-6c9d58d618f6-c8dc501e"
                  data-w-id="8aba584e-2c5c-c14e-730b-6c9d58d618f6"
                  style="opacity: 0"
                  class="why-choose-us-logo-wrapper"
                >
                  <img
                    src="images/cyber-security-201.webp"
                    loading="lazy"
                    width="40"
                    alt=""
                    class="logo-image"
                  />
                  <h3 class="title gap-between-contents">
                    Secure and Reliable
                  </h3>
                  <p class="grey-colored-paragraph">
                    We prioritize your security. Our platform uses advanced
                    encryption to protect your assets and personal information.
                  </p>
                </div>
                <div
                  id="w-node-c4275530-a87e-ef8a-f5f1-c24255e4cf1b-c8dc501e"
                  data-w-id="c4275530-a87e-ef8a-f5f1-c24255e4cf1b"
                  style="opacity: 0"
                  class="why-choose-us-logo-wrapper"
                >
                  <img
                    src="images/real-time-201.webp"
                    loading="lazy"
                    width="40"
                    alt=""
                    class="logo-image"
                  />
                  <h3 class="title gap-between-contents">
                    Real-Time Market Data
                  </h3>
                  <p class="grey-colored-paragraph">
                    Stay informed with live updates, price charts, and market
                    analyses.
                  </p>
                </div>
                <div
                  id="w-node-c6d39be2-1522-c542-f972-20fd032d2e3b-c8dc501e"
                  data-w-id="c6d39be2-1522-c542-f972-20fd032d2e3b"
                  style="opacity: 0"
                  class="why-choose-us-logo-wrapper"
                >
                  <img
                    src="images/headphones-201.webp"
                    loading="lazy"
                    width="40"
                    alt=""
                    class="logo-image"
                  />
                  <h3 class="title gap-between-contents">24/7 Support</h3>
                  <p class="grey-colored-paragraph">
                    Our dedicated support team is always available to assist you
                    with any queries or issues.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="services" class="services-section">
        <div class="container service">
          <div
            id="w-node-b391fa18-f079-5f57-3d1e-db9421ac1b4a-c8dc501e"
            class="services-contents"
          >
            <div class="section-title-wrapper">
              <h2 class="section-heading">Our Services</h2>
              <p class="limited-width-paragraph">
                Experience unparalleled convenience and efficiency through our
                exceptional service offerings.
              </p>
            </div>
            <div class="w-layout-grid services-grid">
              <div
                id="w-node-_0ef33344-fa84-e86c-0fd3-ba21c168253f-c8dc501e"
                data-w-id="0ef33344-fa84-e86c-0fd3-ba21c168253f"
                style="opacity: 0"
                class="services-wrapper"
              >
                <h3 class="title">Crypto Trading:</h3>
                <p class="section-paragraph">
                  Seamlessly buy and sell top cryptocurrencies with minimal
                  fees.
                </p>
              </div>
              <div
                id="w-node-_6964adb1-0b25-51e3-85a6-a059fde09ebe-c8dc501e"
                data-w-id="6964adb1-0b25-51e3-85a6-a059fde09ebe"
                style="opacity: 0"
                class="services-wrapper"
              >
                <h3 class="title">Portfolio Management:</h3>
                <p class="section-paragraph">
                  Track your investments and optimize your portfolio with our
                  advanced tools.
                </p>
              </div>
              <div
                id="w-node-_5bfa1a04-96eb-44aa-fd2b-73e88bf2388b-c8dc501e"
                data-w-id="5bfa1a04-96eb-44aa-fd2b-73e88bf2388b"
                style="opacity: 0"
                class="services-wrapper"
              >
                <h3 class="title">Educational Resources:</h3>
                <p class="section-paragraph">
                  Learn the ins and outs of cryptocurrency with our
                  comprehensive guides and tutorials.
                </p>
              </div>
              <div
                id="w-node-_37ba21d4-99c8-97d8-20df-6b803fb8507f-c8dc501e"
                data-w-id="37ba21d4-99c8-97d8-20df-6b803fb8507f"
                style="opacity: 0"
                class="services-wrapper"
              >
                <h3 class="title">Crypto News:</h3>
                <p class="section-paragraph">
                  Stay updated with the latest news and trends from the crypto
                  world.
                </p>
              </div>
            </div>
          </div>
        </div>
        <img
          src="images/frame.webp"
          loading="lazy"
          width="70"
          id="w-node-d3b42510-adf7-d96a-c198-9567d7debf89-c8dc501e"
          alt=""
          srcset="
            images/frame-p-500.png  500w,
            images/frame-p-800.png  800w,
            images/frame.webp      1320w
          "
          sizes="(max-width: 479px) 100vw, (max-width: 991px) 450px, 53vw"
          class="services-image"
        />
      </section>
      <section id="pricing" class="section">
        <div class="container">
          <div class="middle-allign-wrapper">
            <div class="section-title-wrapper">
              <h2 class="section-heading">TNC Crypto Pricing Plan</h2>
              <p class="section-paragraph">
                Explore our flexible and transparent TNC Crypto pricing plans
                designed to cater to your specific needs and preferences.
              </p>
            </div>
            <div
              data-w-id="4e3cb6e2-aee2-827f-52e7-d5977e76dc64"
              style="
                opacity: 0;
                -webkit-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(null, 20%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="w-layout-grid pricing-grid"
            >
              <div
                id="w-node-_4e3cb6e2-aee2-827f-52e7-d5977e76dc65-c8dc501e"
                class="pricing-card"
              >
                <div class="package-name">Basic</div>
                <p class="package-summery">
                  Beginner-friendly with standard trading and basic portfolio
                  tools.
                </p>
                <div class="price">
                  $9.00 <span class="per-month">/Month</span>
                </div>
                <div class="package-details-block">
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Real-time market data</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Basic portfolio tracking</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Limited customer support</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon secondary-text-color"></div>
                    <div>24/7 customer support</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon secondary-text-color"></div>
                    <div>Access research reports</div>
                  </div>
                </div>
                <a
                  href="#contact"
                  data-w-id="4e3cb6e2-aee2-827f-52e7-d5977e76dc88"
                  class="primary-button primary-border-color get-started w-inline-block"
                  ><div class="hover-text text-black">
                    <span class="text-with-logo">Buy Package</span>
                  </div>
                  <div class="default-text">Get Started</div>
                  <div class="button-hover-color secondary-color"></div
                ></a>
              </div>
              <div
                id="w-node-_4e3cb6e2-aee2-827f-52e7-d5977e76dc8f-c8dc501e"
                class="pricing-card"
              >
                <div class="package-name">Standard</div>
                <p class="package-summery">
                  Enhanced trading tools, analytics, and 24/7 chat support.
                </p>
                <div class="price">
                  $19.00 <span class="per-month">/Month</span>
                </div>
                <div class="package-details-block">
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Real-time market data</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Basic portfolio tracking</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Limited customer support</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>24/7 customer support</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon secondary-text-color"></div>
                    <div>Access research reports</div>
                  </div>
                </div>
                <a
                  href="#contact"
                  data-w-id="4e3cb6e2-aee2-827f-52e7-d5977e76dcb2"
                  class="primary-button primary-border-color get-started w-inline-block"
                  ><div class="hover-text text-black">
                    <span class="text-with-logo">Buy Package</span>
                  </div>
                  <div class="default-text">Get Started</div>
                  <div class="button-hover-color secondary-color"></div
                ></a>
              </div>
              <div
                id="w-node-_4e3cb6e2-aee2-827f-52e7-d5977e76dcb9-c8dc501e"
                class="pricing-card"
              >
                <div class="package-name">Premium</div>
                <p class="package-summery">
                  Top-tier features, advanced analytics, and priority support.
                </p>
                <div class="price">
                  $29.00 <span class="per-month">/Month</span>
                </div>
                <div class="package-details-block">
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Real-time market data</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Basic portfolio tracking</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Limited customer support</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>24/7 customer support</div>
                  </div>
                  <div class="package-offer-block">
                    <div class="icon"></div>
                    <div>Access research reports</div>
                  </div>
                </div>
                <a
                  href="#contact"
                  data-w-id="4e3cb6e2-aee2-827f-52e7-d5977e76dcdc"
                  class="primary-button primary-border-color get-started w-inline-block"
                  ><div class="hover-text text-black">
                    <span class="text-with-logo">Buy Package</span>
                  </div>
                  <div class="default-text">Get Started</div>
                  <div class="button-hover-color secondary-color"></div
                ></a>
              </div>
              <div class="blur-background opacity-low"></div>
            </div>
          </div>
        </div>
      </section>
      <section id="faq" class="faq-section white-background">
        <div class="section">
          <div class="container slide-from-bottom">
            <div class="middle-allign-wrapper">
              <div class="section-title-wrapper">
                <h2 class="section-heading">Frequently Asked Questions</h2>
                <p class="grey-colored-paragraph">
                  Discover quick answers to common queries in our comprehensive
                  Frequently Asked Questions section, providing insights into
                  all aspects of TNC Crypto.
                </p>
              </div>
              <div class="dropdown-container">
                <div
                  data-w-id="b5309382-e458-36fa-e0a7-06e506263260"
                  style="
                    opacity: 0;
                    -webkit-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="dropdowns-wrapper"
                >
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-f92423c3-a2f3-f516-a0be-fd78dc6be6be-c8dc501e"
                    data-w-id="f92423c3-a2f3-f516-a0be-fd78dc6be6be"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">What is cryptocurrency?</div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        Digital or virtual currencies that use cryptography for
                        security, making them resistant to counterfeit.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-f36b45b5-68b6-b043-5fc7-03cd59f1b6ef-c8dc501e"
                    data-w-id="f36b45b5-68b6-b043-5fc7-03cd59f1b6ef"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        How do I buy cryptocurrency?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        Sign up on TNC Crypto, verify your account, deposit
                        funds, and start trading.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_58fec2cd-e6e2-eed8-a304-b371b9bc625f-c8dc501e"
                    data-w-id="58fec2cd-e6e2-eed8-a304-b371b9bc625f"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        What is a digital wallet?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        A digital tool that allows users to store, send, and
                        receive digital currencies.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_47ab7992-9452-fa9c-efbd-8bad3ea1f2da-c8dc501e"
                    data-w-id="47ab7992-9452-fa9c-efbd-8bad3ea1f2da"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">Is cryptocurrency safe?</div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        With the right security measures, such as using
                        reputable wallets and two-factor authentication, it can
                        be safe.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-ce24546c-cf89-2711-d4d0-923482bd8c9f-c8dc501e"
                    data-w-id="ce24546c-cf89-2711-d4d0-923482bd8c9f"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        Are cryptocurrency transactions anonymous?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        ransactions are pseudonymous, meaning they are not
                        linked to real-world identities but to digital
                        addresses.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_107f6a3a-00ea-fb3a-660c-8454cedad429-c8dc501e"
                    data-w-id="107f6a3a-00ea-fb3a-660c-8454cedad429"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">What is blockchain?</div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        A decentralized digital ledger that records
                        cryptocurrency transactions across multiple computers.
                      </div>
                    </nav>
                  </div>
                </div>
                <div
                  data-w-id="9d5b853d-bce7-f969-9564-51828b7c919c"
                  style="
                    opacity: 0;
                    -webkit-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="dropdowns-wrapper"
                >
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_9d5b853d-bce7-f969-9564-51828b7c919d-c8dc501e"
                    data-w-id="9d5b853d-bce7-f969-9564-51828b7c919d"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        How do I start trading on TNC Crypto?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        Simply sign up, complete the verification process,
                        deposit funds, and you’re ready to trade. Our platform
                        is designed to guide you every step of the way.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_9d5b853d-bce7-f969-9564-51828b7c91a8-c8dc501e"
                    data-w-id="9d5b853d-bce7-f969-9564-51828b7c91a8"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        What security measures does TNC Crypto implement?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        We employ multi-layered security protocols including
                        two-factor authentication, cold storage solutions, and
                        advanced encryption to ensure the safety of your assets
                        and data.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_9d5b853d-bce7-f969-9564-51828b7c91b3-c8dc501e"
                    data-w-id="9d5b853d-bce7-f969-9564-51828b7c91b3"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        Can I access TNC Crypto on my mobile device?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        Yes, we offer a user-friendly mobile app available for
                        both Android and iOS. Trade, monitor, and manage your
                        portfolio on the go.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_9d5b853d-bce7-f969-9564-51828b7c91be-c8dc501e"
                    data-w-id="9d5b853d-bce7-f969-9564-51828b7c91be"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        How do I withdraw my funds from TNC Crypto?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        Navigate to the ‘Withdraw’ section on our platform,
                        select the desired amount and destination, and confirm
                        the transaction. Withdrawals are processed swiftly for
                        your convenience.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_9d5b853d-bce7-f969-9564-51828b7c91c9-c8dc501e"
                    data-w-id="9d5b853d-bce7-f969-9564-51828b7c91c9"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        What fees are associated with trading on TNC Crypto?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        Our fee structure is competitive and transparent. You
                        can find a detailed breakdown of trading fees on our
                        ‘Fees’ page.
                      </div>
                    </nav>
                  </div>
                  <div
                    data-hover="false"
                    data-delay="500"
                    id="w-node-_9d5b853d-bce7-f969-9564-51828b7c91d4-c8dc501e"
                    data-w-id="9d5b853d-bce7-f969-9564-51828b7c91d4"
                    class="dropdown-menu w-dropdown"
                  >
                    <div class="dropdown-switch w-dropdown-toggle">
                      <div class="dropdown-title">
                        Do you offer any educational resources for beginners?
                      </div>
                      <div style="display: none" class="dropdown-icon"></div>
                      <div style="display: block" class="plus-icon"></div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-contents w-dropdown-list"
                    >
                      <div class="dropdown-texts">
                        Absolutely! We provide a range of educational materials,
                        from beginner guides to advanced trading strategies, to
                        help our users make informed decisions.
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="section">
        <div class="container">
          <div class="middle-allign-wrapper">
            <div class="section-title-wrapper">
              <h1 class="section-heading">Get in Touch with TNC Crypto</h1>
              <p class="section-paragraph">
                Reach out to us for any inquiries, feedback, or assistance.
                We’re here to help you navigate the world of cryptocurrency.
              </p>
            </div>
            <div class="w-layout-grid contact-grid">
              <div
                id="w-node-fa2331de-3058-3556-f0c4-29854c1d56d5-c8dc501e"
                data-w-id="fa2331de-3058-3556-f0c4-29854c1d56d5"
                style="
                  opacity: 0;
                  -webkit-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                    rotateY(0) rotateZ(0) skew(0, 0);
                "
                class="contact-information-wrapper"
              >
                <div class="contact-information-heading">
                  Let’s Start Working Together. Get in Touch with Us!
                </div>
                <p class="section-paragraph">
                  Let’s Collaborate for a Brighter Crypto Future Whether you
                  have questions about our services or need support with your
                  account, our dedicated team is ready to assist.
                </p>
                <div class="information-wrapper extra-margin-top">
                  <div class="information-block">
                    <div class="footer-icon"></div>
                    <div class="information-text">
                      45XX Washington Ave. Manchester, Kentucky 394XX
                    </div>
                  </div>
                  <div class="information-block">
                    <div class="footer-icon"></div>
                    <div class="information-text">(406) 5X5-012X</div>
                  </div>
                  <div class="information-block">
                    <div class="footer-icon"></div>
                    <div class="information-text">supportX@tnccrypto.com</div>
                  </div>
                </div>
              </div>
              <div
                data-w-id="fa2331de-3058-3556-f0c4-29854c1d56ea"
                style="
                  opacity: 0;
                  -webkit-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(20%, 0, 0) scale3d(1, 1, 1) rotateX(0)
                    rotateY(0) rotateZ(0) skew(0, 0);
                "
                class="contact-form-block w-form"
              >
                <div class="form-text-block">
                  <h3 class="form-title">Get In Touch</h3>
                  <p>
                    Share your details and message, and our team will get back
                    to you promptly.
                  </p>
                </div>
                <div class="blur-background"></div>
                <form
                  id="email-form"
                  name="email-form"
                  data-name="Email Form"
                  method="get"
                  class="contact-form"
                  data-wf-page-id="65124c375c6de822c8dc501e"
                  data-wf-element-id="fa2331de-3058-3556-f0c4-29854c1d56f1"
                >
                  <div class="field-block">
                    <div class="form-field">
                      <label for="Name">Name</label
                      ><input
                        class="input w-input"
                        maxlength="256"
                        name="Name"
                        data-name="Name"
                        placeholder=""
                        type="text"
                        id="Name"
                        required=""
                      />
                    </div>
                    <div class="form-field">
                      <label for="Email">Email</label
                      ><input
                        class="input w-input"
                        maxlength="256"
                        name="Email"
                        data-name="Email"
                        placeholder=""
                        type="email"
                        id="Email"
                      />
                    </div>
                  </div>
                  <div class="form-field">
                    <label for="Phone">Contact No</label
                    ><input
                      class="input w-input"
                      maxlength="256"
                      name="Phone"
                      data-name="Phone"
                      placeholder=""
                      type="tel"
                      id="Phone"
                      required=""
                    />
                  </div>
                  <div class="form-field">
                    <label for="Message">Message</label
                    ><textarea
                      placeholder=""
                      maxlength="5000"
                      id="Message"
                      name="Message"
                      data-name="Message"
                      class="input text-area w-input"
                    ></textarea>
                  </div>
                  <input
                    type="submit"
                    data-wait="Please wait..."
                    class="submit-button w-button"
                    value="Submit"
                  />
                </form>
                <div class="success-message w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="error-message w-form-fail">
                  <div>
                    Oops! Something went wrong while submitting the form.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="call-to-action-section">
        <div class="container slide-from-bottom">
          <div
            data-w-id="53c2df60-c9d3-21c7-ca20-87a25e9457b6"
            style="
              opacity: 0;
              -webkit-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(null, 20%, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(null, 20%, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
            "
            class="middle-allign-wrapper"
          >
            <h2 class="section-heading cta-heading">
              Join TNC Crypto and Shape Your Financial Future
            </h2>
            <a
              href="#contact"
              data-w-id="6a5a3d78-56ef-8b52-2984-8234aeea425b"
              class="primary-button primary-border-color join-today w-inline-block"
              ><div class="hover-text text-black">
                <span class="text-with-logo">Join and Explore</span>
              </div>
              <div class="default-text">Join Today</div>
              <div class="button-hover-color secondary-color"></div
            ></a>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer-wrapper">
            <div class="footer-block negative-margin">
              <img
                src="images/logo.webp"
                loading="lazy"
                alt=""
                width="192"
                class="main-logo"
              />
              <div class="information-container">
                <p class="footer-paragraph">
                  Embrace the world of digital currency and redefine your
                  investment strategies with us.
                </p>
                <div class="information-wrapper">
                  <div class="information-block">
                    <div class="footer-icon"></div>
                    <div class="information-text">
                      4X17 Washington Ave. Manchester, Kentucky 394XX
                    </div>
                  </div>
                  <div class="information-block">
                    <div class="footer-icon"></div>
                    <div class="information-text">(406) 55X-01XX</div>
                  </div>
                  <div class="information-block">
                    <div class="footer-icon"></div>
                    <div class="information-text">supportX@tnccrypto.com</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="links-and-menu">
              <div class="footer-block">
                <div class="footer-title">Explore</div>
                <div class="list-block">
                  <a
                    href="/home-landing-page"
                    aria-current="page"
                    class="footer-link w--current"
                    >Home</a
                  ><a href="#about" class="footer-link">About</a
                  ><a href="#services" class="footer-link">Services</a
                  ><a href="#why-choose" class="footer-link">Why Choose</a
                  ><a href="#contact" class="footer-link">Contact</a>
                </div>
              </div>
              <div class="footer-block">
                <div class="footer-title">Pages</div>
                <div class="list-block">
                  <a href="/about-us" class="footer-link">About Us</a
                  ><a href="/our-team" class="footer-link">Our Team</a
                  ><a href="/pricing" class="footer-link">Pricing</a
                  ><a href="/faq" class="footer-link">FAQ</a
                  ><a href="/contact" class="footer-link">Contact</a
                  ><a href="/utility-pages/license" class="footer-link"
                    >Licensing</a
                  >
                </div>
              </div>
              <div class="footer-block subscribe-block">
                <div class="footer-title">TNC Crypto Newsletter</div>
                <p class="footer-paragraph">
                  Subscribe to our newsletter for weekly updates, market
                  insights, and special offers.
                </p>
                <div class="subscribe-form w-form">
                  <form
                    id="wf-form-Footer-Form"
                    name="wf-form-Footer-Form"
                    data-name="Footer Form"
                    method="get"
                    class="footer-form-block"
                    data-wf-page-id="65124c375c6de822c8dc501e"
                    data-wf-element-id="b181e2dc-7b43-1c4f-11f1-f95eee7a80f2"
                  >
                    <input
                      class="subscribe-input w-input"
                      maxlength="256"
                      name="Subscribe-Form"
                      data-name="Subscribe Form"
                      aria-label="Get product updates"
                      placeholder="Your Email Here"
                      type="email"
                      id="Subscribe-Form"
                      required=""
                    /><input
                      type="submit"
                      data-wait="Please wait..."
                      data-w-id="b181e2dc-7b43-1c4f-11f1-f95eee7a80f4"
                      class="subscribe-button w-button"
                      value="Subscribe"
                    />
                  </form>
                  <div class="success-message w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="error-message w-form-fail">
                    <div>
                      Oops! Something went wrong while submitting the form.
                    </div>
                  </div>
                </div>
                <div class="social-icon-container">
                  <a
                    href="https://www.facebook.com/ThemeNcode"
                    target="_blank"
                    class="social-icon facebook"
                    ></a
                  ><a
                    href="https://twitter.com/ThemeNcode"
                    target="_blank"
                    class="social-icon twitter"
                    ></a
                  ><a
                    href="https://pinterest.com/ThemeNcode"
                    target="_blank"
                    class="social-icon pinterest"
                    ></a
                  ><a
                    href="https://wa.me"
                    target="_blank"
                    class="social-icon whatsapp"
                    ></a
                  ><a
                    href="https://www.linkedin.com/company/themencode"
                    target="_blank"
                    class="social-icon linkedin"
                    ></a
                  ><a
                    href="https://www.youtube.com/@ThemeNcodeOfficial"
                    target="_blank"
                    class="social-icon youtube"
                    ></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-copyright">
            Copyright © 2023 TNC Crypto |
            <a
              href="https://webflow.com/templates/designers/themencode"
              target="_blank"
              class="webflow-link"
              >Designed by ThemeNcode LLC</a
            >
            -<a href="https://webflow.com/" class="webflow-link"
              >Powered by Webflow.com</a
            >
          </div>
        </div>
      </footer>
    </div>
    
      <div class="vertical-lines">
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
      </div>
      <div class="horizontal-lines">
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
      </div>
    </div>