    <div
      id="navbar"
      data-animation="default"
      data-collapse="medium"
      data-duration="400"
      data-easing="ease"
      data-easing2="ease"
      role="banner"
      class="navbar w-nav"
    >
      <nav class="container">
        <div class="navbar-wrapper">
          <a href="/home-landing-page" class="navbar-logo-wrapper w-nav-brand"
            ><img
              src="images/logo.webp"
              loading="lazy"
              width="70"
              alt=""
              class="main-logo"
          /></a>
          <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
            <ul role="list" class="nav-menu w-list-unstyled">
              <li class="nav-list">
                <div
                  data-hover="false"
                  data-delay="0"
                  data-w-id="e85a5d7e-5163-418e-9498-0708a0f73cf2"
                  class="w-dropdown"
                >
                  <div class="nav-dropdown w-dropdown-toggle">
                    <div class="nav-icon w-icon-dropdown-toggle"></div>
                    <div class="nav-link">Home Pages</div>
                  </div>
                  <nav class="dropdown-options w-dropdown-list">
                    <a href="/" class="submenu-link w-dropdown-link"
                      >Home - Multi page</a
                    ><a
                      href="/home-landing-page"
                      class="submenu-link w-dropdown-link"
                      >Home - Landing Page</a
                    >
                  </nav>
                </div>
              </li>
              <li class="nav-list">
                <a href="/about-us" class="nav-link">About</a>
              </li>
              <li class="nav-list">
                <a
                  href="/our-team"
                  aria-current="page"
                  class="nav-link w--current"
                  >Our Team</a
                >
              </li>
              <li class="nav-list">
                <a href="/pricing" class="nav-link">Pricing</a>
              </li>
              <li class="nav-list">
                <div
                  data-hover="false"
                  data-delay="0"
                  data-w-id="23ee6b8d-6ec1-ecf2-40d6-2fd026e4637f"
                  class="w-dropdown"
                >
                  <div class="nav-dropdown w-dropdown-toggle">
                    <div class="nav-icon w-icon-dropdown-toggle"></div>
                    <div class="nav-link">Blogs</div>
                  </div>
                  <nav class="dropdown-options w-dropdown-list">
                    <a
                      href="/blog-pages/blogs-grid"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid</a
                    ><a
                      href="/blog-pages/blogs-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Grid Right Sidebar</a
                    ><a
                      href="/blog-pages/blogs-list-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs List Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-list-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs List Right Sidebar</a
                    ><a
                      href="/blog-pages/blogs-column-left-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Column Left Sidebar</a
                    ><a
                      href="/blog-pages/blogs-column-right-sidebar"
                      class="submenu-link w-dropdown-link"
                      >Blogs Column Right Sidebar</a
                    >
                    <div class="w-dyn-list">
                      <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <a
                            href="/post/decentralized-finance-and-its-impact-on-traditional-banking"
                            class="submenu-link w-dropdown-link"
                            >Blogs Details</a
                          >
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </li>
              <li class="nav-list"><a href="/faq" class="nav-link">FAQ</a></li>
              <li class="nav-button-list">
                <a
                  data-w-id="a2b9a5b4-7c90-53af-3c21-cf3e88a88e16"
                  href="/contact"
                  class="primary-button contact-us-button w-inline-block"
                  ><div class="hover-text"></div>
                  <div class="default-text">Contact Us</div>
                  <div class="button-hover-color"></div
                ></a>
              </li>
            </ul>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="hamburger-and-close-icon-wrapper">
              <div class="hamburger-icon w-icon-nav-menu"></div>
              <div class="cross-icon"></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <section class="secondary-section">
      <div class="container">
        <div class="middle-allign-wrapper">
          <div class="section-title-wrapper">
            <h2 class="section-heading">Our Team</h2>
            <p class="section-paragraph">
              Behind TNC Crypto&#x27;s success stands a dynamic and passionate
              team of blockchain and cryptocurrency experts.
            </p>
          </div>
          <div class="w-layout-grid team-grid">
            <div
              id="w-node-_08bf651e-df23-0546-4009-669a87ed2d7c-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907090912cigo-201.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Esther Howard</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
            <div
              id="w-node-_2af9f28e-af23-749a-6bb5-004cc84056ad-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907091845bpq8-201.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Jerome Bell</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
            <div
              id="w-node-cf53dab9-3b11-0f7b-9c35-b0ca2344137d-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907092132dbvn-201.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Jane Cooper</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
            <div
              id="w-node-a8c44b24-4568-beeb-43c1-4fe8e3ca6aeb-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907092603swid-201.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Theresa Webb</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
            <div
              id="w-node-_20af8a49-01a6-c2cc-d01b-428d36f0c95d-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907092817czwm-201.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Annette Black</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
            <div
              id="w-node-_67444b27-194b-ca0b-42d9-82f441807d25-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907093549brdz.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Robert Fox</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
            <div
              id="w-node-_709cc8b5-1a6a-3299-4738-48d4d8cb478f-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907093520qmbt.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Albert Flores</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
            <div
              id="w-node-_4e4bad1e-3906-b244-2cfc-3f791cf84bd5-83ce8fa8"
              class="team-card"
            >
              <div class="team-image-wrapper">
                <img
                  src="images/wepik-export-20230907093125vq2w-201.webp"
                  loading="lazy"
                  width="70"
                  alt=""
                  class="team-image"
                />
              </div>
              <h3 class="member-name">Devon Lane</h3>
              <div class="member-position">Cryptocurrency Consultant</div>
            </div>
          </div>
        </div>
      </div>
      <div class="blur-background top-left"></div>
    </section>